// The following line of code can utilize a partial file(ie. head) so that we can separate out
// and reduce duplicate code. We can also create a navbar file or include it in the head file. We can also
// create a foot file that will have all the footer and ending html tag. Partials directory is in
// the views directory.
<%- include('partials/head') %>
<body>
    <h2><%= description %></h2>
    <% for(let post of posts) { %>
        <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <div class="card">
                <h3><b>r/<%= name %></b> Posted by <%= post.author %></h3>
                <p><%= post.title  %></p>
                <% if(post.img) { %>
                    <img src="<%= post.img %>" alt="">
                <% } %>
            </div>
        </div>
    <% } %>
    <h1>You are browsing the <%= name %> subreddit</h1>
    <p>Where <%= subscribers %> subscribers come to talk about <%= name %></p>
    <hr>
    <%  for(let post of posts) { %>
        <h3><%= post.title %> Posted by (<%= post.author %> )</h3>
    <% } %>
</body>
</html>